
   <main>
        <form class="product-form" action="/admin/product" method="POST">
            <div clas="form-control">
                <label for="title">Title</label>
                <input id='title'type="text" name="title" placeholder="...">
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>     
